.CurrentTemperature {
  padding: 20px;
}

.CurrentTemperature img {
  height: 70px;
}

.timeDate {
  margin: 0;
}

.currentTemp {
  font-size: 45px;
  color: #f9c548;
  margin-right: 40px;
}

.currentTemp span {
  font-weight: bold;
}
