h2 {
  margin-top: 60px;
}

.CurrentTemperature {
  padding: 20px;
}

.CurrentTemperature img {
  height: 70px;
}

.date {
  font-size: 15px;
  font-weight: bold;
}

.date,
.description,
.wind {
  margin: 5px;
}

.timeDate {
  margin: 0;
}

.currentTemp {
  font-size: 50px;
  color: #f9c548;
  margin-right: 40px;
}

.realfeel {
  color: white;
  font-size: 16px;
  line-height: 1;
}

@media only screen and (max-width: 991px) {
  h2 {
    margin-top: 0;
  }
}
